{% extends "core.html" %}
{% block title %}Anasayfa{% endblock %}



{% block content %}


    <div class="container-fluid"><div class="row">
        <div class="col-md-3 col-sm-12">
<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tab-30" role="tablist">
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-sm-center active" id="tab-link-example-1" data-toggle="tab"
                href="#link-example-1" role="tab" aria-controls="link-example-1" aria-selected="true">Gündem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-sm-center" id="tab-link-example-2" data-toggle="tab" href="#link-example-2"
                role="tab" aria-controls="link-example-2" aria-selected="false">Yeni</a>
        </li>
    </ul>
</div>
                    <div class="overflow-auto" style=" border: 1px solid #ccc; height: 650px;
                      overflow: scroll;">
<div class="tab-content" id="tabcontentexample">
                      
                                
            <div class="tab-pane fade show active" id="link-example-1" role="tabpanel"
                aria-labelledby="tab-link-example-1">
                      <li class="list-group-item">25 gündem</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                  </div>

<div class="tab-pane fade" id="link-example-2" role="tabpanel" aria-labelledby="tab-link-example-2">
                      <li class="list-group-item">25 yeni</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                  </div>

              </div>
                    </ul>
                        </div>

        </div>
        <div class="col-md-6 col-sm-12"><h2 class="text-center" style="padding-top: 20px; padding-bottom: 15px;">Duvar</h2>
            <div class="row">
            <div class="col-12">
                <form action="/" method="POST">
                    <textarea type="text" class="form-control" rows="3" id="duvaryazi" name="duvaryazi" placeholder="Herkese Açık Duvar'a Sende Yaz! (Onaydan sonra görüntülenir.)"></textarea>
                    <button class="btn btn-icon btn-primary float-right" style="margin-top:5px; margin-bottom: 15px; " type="submit">
    <span class="btn-inner-text">Gönder</span>
    <span class="btn-inner-icon"><i class="fas fa-play"></i></span>
</button>
                </form>
            </div>
            
                
            
                <!-- card -->{% for duvar_postlar in duvar_postlar %}
                <div class="col-12">
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">
                        <div class="col-2  text-center"><img src="https://via.placeholder.com/100" class="img-thumbnail" style="border-radius: 50%;">
                        </div>
                        <div class="col-10">
                <b style="padding-top: 1px; margin-left: -20px;">@{{ duvar_postlar[7] }}</b>
                <p style="margin-left: -20px; padding-top: 3px;">{{duvar_postlar[2]}}</p>
                <footer class="blockquote-footer text-right" ><cite title="Source Title">{{duvar_postlar[4]}}</cite></footer>
                        </div>
                    </div> 
                </div><br>
            </div>
            {% endfor %}<!-- card -->

        </div> </div>

 <div class="col-md-3 d-none d-md-block"><h2 class="text-center" style="padding-top: 20px; padding-bottom: 15px;">Blog</h2>
            <!-- blog cardim -->
<div class="card" style="height:  115px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/150" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title" style="margin-top: -15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed amet.</h6>
      </div>
    </div>
  </div>
</div><br>
<!-- blog cardim -->
            <!-- blog cardim -->
<div class="card" style="height:  115px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/150" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title" style="margin-top: -15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed amet.</h6>
      </div>
    </div>
  </div>
</div><br>
<!-- blog cardim -->
            <!-- blog cardim -->
<div class="card" style="height:  115px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/150" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title" style="margin-top: -15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed amet.</h6>
      </div>
    </div>
  </div>
</div><br>
<!-- blog cardim -->
            <!-- blog cardim -->
<div class="card" style="height:  115px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/150" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title" style="margin-top: -15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed amet.</h6>
      </div>
    </div>
  </div>
</div><br>
<!-- blog cardim -->


        </div>


    </div></div>



{% endblock %}