{% extends "core.html" %}
{% block title %}Kayıt Ol{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6"><br>
                                <div class="text-center">
                                    <h1>Hemen Kayıt Ol!</h1>
                                    {% if hata %}
                                    <br> <b>{{hata}}</b>
                                    {% endif %}
                                 <br>   
                                </div>

                                <span class="clearfix"></span>
                                <form action="/kayit" method="POST">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                            </div>
                                            <input type="email" class="form-control" name="email"
                                                placeholder="E-Posta" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" name="nick"
                                                placeholder="Kullanıcı Adı" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Şifre" name="password" type="password" required>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-block btn-primary">Kayıt</button>
                                    </div>
                                </form>
                                <div class="d-block d-sm-flex justify-content-between align-items-center mt-4">
                                    <span>
                                        <small>zaten üye Misin?</small>
                                        <a href="/giris" class="small font-weight-bold">ee bari giriş yap</a>
                                    </span>                                 
                                </div>
                            </div>
    </div>
</div>
{% endblock %}