{% extends "core.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            
<!-- Profile Card --><div class="col-md-3 col-sm-12"><br>
<div class="profile-card" style="padding-top: 63px;">
    <div class="card shadow-sm text-center border-light">
        
        <div class="profile-image-small mt-n6">
            <img src="https://via.placeholder.com/100" class="card-img-top organic-radius" alt="image">
        </div>    
        <div class="card-body">
            <h5 class="card-title mb-0">@Fxdemir</h5>

            <p class="card-text" style="padding-top: 15px;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante vel felis accumsan, nec pulvinar ex amet.</p>
<b class="card-text">Karma: 150</b>
            <ul class="social-buttons py-3">
                <li>
                    <a href="#" target="_blank" class="btn btn-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End of Profile Card --></div>
            <div class="col-md-9 col-sm-12">
                

                <!-- Tab -->
<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tab-30" role="tablist">
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-sm-center active" id="tab-link-example-1" data-toggle="tab"
                href="#link-example-1" role="tab" aria-controls="link-example-1" aria-selected="true">Entry'ler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill text-sm-center" id="tab-link-example-2" data-toggle="tab" href="#link-example-2"
                role="tab" aria-controls="link-example-2" aria-selected="false">Duvar Yazıları</a>
        </li>
    </ul>
</div>
<!-- End of Tab Nav -->
<!-- Tab Content -->
<div class="card">
    <div class="card-body p-0">
        <div class="tab-content" id="tabcontentexample">
            <div class="tab-pane fade show active" id="link-example-1" role="tabpanel"
                aria-labelledby="tab-link-example-1">
<div class="card">

                <!-- card -->
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">

                        <div class="col-12">
                <b style="padding-top: 1px;">@Fxdemir</b>
                <p style="padding-top: 3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dolor libero. Aliquam nulla erat, fermentum eu pellentesque ut, tempus non tellus. Praesent id placerat tortor. Ut enim lacus, consectetur eget mattis sed, condimentum sed orci massa nunc.</p>
                <footer class="blockquote-footer text-right" style="margin-top: -15px;"><cite title="Source Title">24.03.2020 11:32</cite></footer>
                        </div>
                    </div> 
                </div><br>
                <!-- card -->


</div>
            </div>
            <div class="tab-pane fade" id="link-example-2" role="tabpanel" aria-labelledby="tab-link-example-2">

                <!-- card -->
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">

                        <div class="col-12">
                <b style="padding-top: 1px;">@Fxdemir</b>
                <p style="padding-top: 3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dolor libero. Aliquam nulla erat, fermentum eu pellentesque ut, tempus non tellus. Praesent id placerat tortor. Ut enim lacus, consectetur eget mattis sed, condimentum sed orci massa nunc.</p>
                <footer class="blockquote-footer text-right" style="margin-top: -15px;"><cite title="Source Title">24.03.2020 11:32</cite></footer>
                        </div>
                    </div> 
                </div><br>
                <!-- card -->
                                <!-- card -->
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">

                        <div class="col-12">
                <b style="padding-top: 1px;">@Fxdemir</b>
                <p style="padding-top: 3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dolor libero. Aliquam nulla erat, fermentum eu pellentesque ut, tempus non tellus. Praesent id placerat tortor. Ut enim lacus, consectetur eget mattis sed, condimentum sed orci massa nunc.</p>
                <footer class="blockquote-footer text-right" style="margin-top: -15px;"><cite title="Source Title">24.03.2020 11:32</cite></footer>
                        </div>
                    </div> 
                </div><br>
                <!-- card -->
                                <!-- card -->
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">

                        <div class="col-12">
                <b style="padding-top: 1px;">@Fxdemir</b>
                <p style="padding-top: 3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dolor libero. Aliquam nulla erat, fermentum eu pellentesque ut, tempus non tellus. Praesent id placerat tortor. Ut enim lacus, consectetur eget mattis sed, condimentum sed orci massa nunc.</p>
                <footer class="blockquote-footer text-right" style="margin-top: -15px;"><cite title="Source Title">24.03.2020 11:32</cite></footer>
                        </div>
                    </div> 
                </div><br>
                <!-- card -->
                                <!-- card -->
                <div class="card shadow-sm border-light">
                    <div class="row" style="padding:5px;">

                        <div class="col-12">
                <b style="padding-top: 1px;">@Fxdemir</b>
                <p style="padding-top: 3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dolor libero. Aliquam nulla erat, fermentum eu pellentesque ut, tempus non tellus. Praesent id placerat tortor. Ut enim lacus, consectetur eget mattis sed, condimentum sed orci massa nunc.</p>
                <footer class="blockquote-footer text-right" style="margin-top: -15px;"><cite title="Source Title">24.03.2020 11:32</cite></footer>
                        </div>
                    </div> 
                </div><br>
                <!-- card -->


            </div>

        </div>
    </div>
</div>
<!-- End of Tab -->
            </div>

        </div>
    </div>
    {% endblock %}