{% extends "core.html" %}
{% block title %}Anasayfa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-sm-12">
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tab-30" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link flex-sm-fill text-sm-center active" id="tab-link-example-1" data-toggle="tab"
                            href="#link-example-1" role="tab" aria-controls="link-example-1" aria-selected="true">Gündem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link flex-sm-fill text-sm-center" id="tab-link-example-2" data-toggle="tab" href="#link-example-2"
                            role="tab" aria-controls="link-example-2" aria-selected="false">Yeni</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="card ">
                <div class="tab-content" id="tabcontentexample">
                      
                                
                    <div class="tab-pane fade show active" id="link-example-1" role="tabpanel"
                        aria-labelledby="tab-link-example-1">
                              <li class="list-group-item">25 gündem</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                          </div>
        
        <div class="tab-pane fade" id="link-example-2" role="tabpanel" aria-labelledby="tab-link-example-2">
                              <li class="list-group-item">25 yeni</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                          </div>
        
                      </div>
                            </ul>
                             
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card">
                <a href="/baslik/yeni" class="btn btn-sm btn-danger text-center lead">Yeni Başlık Aç <i class="far fa-edit"></i>
                </a>
            </div>
        </div>

        
    </div>

</div>
{% endblock content %}